<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>stomp example</title>
    <script th:src="@{/static/stomp.min.js}"></script>
    <script>
        var client = Stomp.client('ws://127.0.0.1:15674/ws');
        /*
         fanout模式 /exchange/fanout-web (需要手动创建exchange，会自动对每个消费者生成一个queue)
         direct模式 /queue/queue-web (会自动创建queue)
          */
        var topic = "/exchange/fanout-web";
        var on_connect = function(x) {
            id = client.subscribe(topic, function(d) {
                alert(d.body);
            });
        };
        var on_error = function() {
            console.log('error');
        };
        client.connect('webguest', 'webguest', on_connect, on_error, '/web');
    </script>
</head>
<body>
index page
</body>
</html>